.account {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    line-height: 3;
    align-items:center; 
}

.link_recipes_by_user {
    color: var(--blue-color);
    letter-spacing: 1px;
    font-size: 24px;
}

.link_update_account {
    color: var(--red-color);
    letter-spacing: 1px;
    font-size: 24px;
}

.p_account {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.ident {
    font-weight: 600;
}


@media screen and (max-width: 768px) {

    .link_recipes_by_user,
    .link_update_account,
    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {

    .link_recipes_by_user,
    .link_update_account,
    p {
        font-size: 16px;
    }

}