.add_and_update_recipe form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: var(--blue-color);
}

.add_and_update_recipe{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fdf7ff; 
    margin-top: 50px;
    border: var(--border);
}

.add_and_update_recipe form label,
.add_and_update_recipe form input,
.add_and_update_recipe form select,
.add_and_update_recipe form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 24px;
    border-radius: 10px;
}

.add_and_update_recipe input::first-letter {
    text-transform: uppercase;
}

.add_and_update_recipe form label {
    font-weight: bold;
    margin-bottom: 0px;
}

.add_and_update_recipe .submit:hover {
    background-color: var(--blue-color);
    color: #fff;
    cursor: pointer;
    transition: background 1000ms ease-in-out;
}

.addRecipeOk{
    color:green;
    font-size: 24px;
}

.errorMessage{
    color:var(--red-color);
    font-size: 24px;
}

.add_and_update_recipe input:valid:not([type="submit"], [type="file"]),
.add_and_update_recipe textarea:valid:not([type="submit"])
{
    border: 3px solid #02be02;
}
.add_and_update_recipe input[type="file"]{
    border: 1px solid black;
}

.addRecipeOk{
    /* border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; */
}

.error_message{
    /* border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; */
}


@media screen and (max-width: 810px) {
    .add_and_update_recipe{
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .add_and_update_recipe form label,
    .add_and_update_recipe form input,
    .add_and_update_recipe form select,
    .add_and_update_recipe form textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 18px;
    }

    .addRecipeOk{
        color:green;
        font-size: 18px;
    }

    .errorMessage{
        color:var(--red-color);
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .add_and_update_recipe form label,
    .add_and_update_recipe form input,
    .add_and_update_recipe form select,
    .add_and_update_recipe form textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 16px;
    }

    .addRecipeOk{
        color:green;
        font-size: 16px;
    }

    .errorMessage{
        color:var(--red-color);
        font-size: 16px;
    }
}