@import './variables.css';
@import './header.css';
@import './footer.css';
@import './searchRecipe.css';
@import './linkAllRecipes.css';
@import './textLastRecipes.css';
@import './welcome.css';
@import './recipesCards.css';
@import './addAndUpdateRecipe.css';
@import './signupLoginContact.css';
@import './recipeDetails.css';
@import './h1.css';
@import './menu.css';
@import './legalNotice.css';
@import './account.css';

/*Reset: enlève les styles par défaut du navigateur*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Solution pour que le Footer reste n bas avec ou sans contenu  */
/* https://www.youtube.com/watch?v=J-r75L3Tflg */

html{
  height: 100%;
}

body {
  font-family: "Favorite Font", sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 6.74rem;
}









