.container_search_recipe {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    background-image: url(/images/bg_search2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
}

.container_search_recipe label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--black-color);
    background-color: var(--white-color);
    letter-spacing: 2px;
}

.container_search_recipe input {
    padding: 5px;
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .container_search_recipe {
        height: 150px;
    }

    .container_search_recipe input {
        font-size: 20px;
    }
}

@media screen and (max-width: 736px) {
    .container_search_recipe {
        height: 120px;
    }

    .container_search_recipe input {
        font-size: 18px;
    }
}

@media screen and (max-width: 426px) {
    .container_search_recipe {
        height: 70px;
    }

    .container_search_recipe input {
        font-size: 16px;
    }
}